@import "../node_modules/bootstrap-utilities/bootstrap-utilities.css";

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.content-container {
  max-width: 500px;
  .question {
    width: 50%;

    .ant-list-item {
      padding-left: 30px;
      cursor: pointer;
      transition: padding 0.1s ease-in;
      &:hover {
        background-color: rgb(238, 238, 238);
        padding-left: 40px;
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.fs-1 {
  font-size: xx-large;
}

.fs-2 {
  font-size: x-large;
}

.report-card p {
  margin: 0;
  padding: 0;
}

.countdown-container {
  .shake {
    animation: shake 0.5s;
    animation-iteration-count: 5;
  }
}

.gs-tooltip {
  &:hover {
    cursor: help;
  }
}

.timeline-content {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;

}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
