@import "../node_modules/bootstrap-utilities/bootstrap-utilities.css";


.content-container {
  .question {
    width: 50%;

    .ant-list-item {
      padding-left: 30px;
      cursor: pointer;
      transition: padding 0.1s ease-in;
      &:hover {
        background-color: rgb(238, 238, 238);
        padding-left: 40px;
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
